<button
  [type]=""
  [disabled]="disabled"
  (click)="onClick()"
  [ngClass]="ButtonColors[color]"
>
  <div *ngIf="isLeftIconImg; else iconContainer">
    <img
      class="left-icon"
      [src]="leftIcon"
      alt="left icon"
    />
  </div>
  <ng-template #iconContainer>
    <ng-container *ngIf="leftIcon && !loading">
      <i class="left-icon" [ngClass]="leftIcon"></i>
    </ng-container>
  </ng-template>

  <ng-container *ngIf="loading">
    <i class="loading">refresh</i>
  </ng-container>
  {{ text }}
  <ng-container *ngIf="rightIcon && !loading">
    <i class="right-icon" [ngClass]="rightIcon"></i>
  </ng-container>
</button>
