@import '../../../../styles/colors.scss';

$smaller-paddingX: 8px;
$smaller-paddingY: 8px;

$small-paddingX: 16px;
$small-paddingY: 8px;

$medium-paddingX: 24px;
$medium-paddingY: 10px;

$large-paddingX: 32px;
$large-paddingY: 12px;

button {
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 6px;
  font-family: Montserrat, sans-serif !important;
  font-size: 14px;
  font-weight: 600;
  background-color: transparent;
  color: inherit;

  i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    width: 16px;
    height: 16px;
    color: inherit;
    background-color: inherit;

    &.loading {
      animation: spin 1s linear infinite;

      @keyframes spin {
        0% {
          transform: rotate(0deg);
        }

        100% {
          transform: rotate(360deg);
        }
      }
    }
  }

  .left-icon-spacing {
    margin-right: 8px;
  }

  .right-icon-spacing {
    margin-right: 8px;
  }
}

.smaller {
  min-width: 35px;
  min-height: 35px;
  padding: $smaller-paddingY $smaller-paddingX;
}

.small {
  min-width: 50px;
  min-height: 35px;
  padding: $small-paddingY $small-paddingX;
}

.medium {
  min-width: 70px;
  min-height: 35px;
  padding: $medium-paddingY $medium-paddingX;
}

.large {
  min-width: 100px;
  min-height: 35px;
  padding: $large-paddingY $large-paddingX;
}

.primary {
  background-color: $color-highlight-1;
  color: $neutral-500;

  &:hover {
    background-color: $hover-highlight-1;
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.16;
  }
}

.primary-outline {
  background-color: transparent;
  border: 1px solid $neutral-900;
  color: $neutral-500;

  &:hover {
    border-color: $hover-highlight-1;
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.16;
  }
}

.dark {
  background-color: $neutral-800;
  color: $neutral-100;
}

.borderless {
  background-color: transparent;
  color: $neutral-900;
  border: unset;

  &:hover {
    background-color: $neutral-200;
    opacity: 0.8;
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.16;
  }

  .nocolor {
    border: unset;

    &:disabled {
      pointer-events: none;
      opacity: 0.16;
    }
  }
}

:host-context(.dark-theme) {
  .primary {
    background-color: $color-highlight-1;
    color: $neutral-600;

    &:hover {
      background-color: $hover-highlight-1;
    }

    &:disabled {
      pointer-events: none;
      opacity: 0.16;
    }
  }

  .primary-outline {
    border: 1px solid $neutral-900;
    color: $neutral-100;

    &:hover {
      border-color: $hover-highlight-1;
    }

    &:disabled {
      pointer-events: none;
      opacity: 0.16;
    }
  }

  .dark {
    background-color: $neutral-800;
    color: $neutral-100;
  }

  .borderless {
    background-color: transparent;
    color: $neutral-100;
    border: unset;

    &:hover {
      background-color: $dark-mode-secondary;
      opacity: 0.8;
    }

    &:disabled {
      color: $dark-mode-neutral;
      pointer-events: none;
      opacity: 0.16;
    }
  }
}
