
$color-highlight-1: #1abc9c;
$color-highlight-2: #e74c3c;
$color-highlight-3: #3498db;

$neutral-100: #fff;
$neutral-200: #f7f7f7;
$neutral-300: #eaeaea;
$neutral-400: #a6a6a6;
$neutral-500: #404040;
$neutral-600: #303030;
$neutral-700: #212121;
$neutral-800: #141414;
$neutral-900: #000;

$info-success: #27ae60;
$info-success-light: #d2e9d9;
$info-danger: $color-highlight-2;

$hover-highlight-1: #16a085;
$hover-highlight-2: #c0392b;
$hover-highlight-3: #2980b9;
$hover-success: #229954;
$hover-light: #ffffff29;
$hover-dark-mode-1: #727782;
$hover-dark-mode-2: #7f838f;

$dark-mode-primary: #141c2f;
$dark-mode-secondary: #21293c;
$dark-mode-tertiary: #293145;
$dark-mode-neutral: #9398a7;

$disabled-highlight-1: #fef7d7;
$disabled-highlight-2: #f9dbdb;
$disabled-highlight-3: #e6dae6;
