<div class="navbar-container">
  <div class="navbar-content">
    <div class="navbar-logo">
      <img class="logo" src="assets/logo-color.png" alt="Logo" />
    </div>
    <div class="navbar-menu">
      <div class="navbar-menu-item" routerLinkActive="active">
        <i class="ph-bold ph-angular-logo" ></i>
        <a routerLink="/components">Components</a>
      </div>
      <div class="navbar-menu-item" routerLinkActive="active">
        <i class="ph-bold ph-check-fat"></i>
        <a routerLink="/tasks">Tasks</a>
      </div>
    </div>
  </div>
</div>
