<div class="examples">
  <h1>Tasky Angular Works</h1>
  <h3>Buttons</h3>
  <div class="button-container">
    <app-button
      id="btn-test-1"
      (buttonClick)="bla()"
      text="Botão teste"
      color="PRIMARY"
    />

    <app-button
      id="btn-test-2"
      (buttonClick)="bla()"
      text="Botão teste"
      color="PRIMARY_OUTLINE"
    />

    <app-button
      id="btn-test-3"
      (buttonClick)="bla()"
      text="Botão teste"
      color="DARK"
    />

    <app-button
      id="btn-test-3"
      (buttonClick)="bla()"
      text="Botão teste"
      color="BORDERLESS"
    />
  </div>
</div>
